[Unit]
Description=Atlassian {{ service_name }} {{ bamboo_version }}
After=syslog.target network.target network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{ user }}
ExecStart={{ install_root }}/bamboo-startup.sh
ExecStop={{ agent_root }}/bin/bamboo-agent.sh stop

[Install]
WantedBy=multi-user.target
